# ignore secrets, virtual environments and typical python compilation artifacts
secrets.toml
# ignore basic python artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class
# ignore duckdb
*.duckdb
*.wal

.idea/

*.log
volumes/
secrets/
.vscode

# Configuration files with credentials
facebook.json
google.json
google_play.json
app_store.json

# Private keys
*.p8
*.pem